## VQ44 pkg -> https://www.xilinx.com/support/documentation/data_sheets/ds311.pdf pp10 
## SIDE 1 - [P1-P11]
## SIDE 2 - [P12-P22]
## SIDE 3 - [P23-P33]
## SIDE 4 - [P34-P44]

#	-- clocks
#	i_clk       : in  STD_LOGIC; -- master clock
#	-- enable i/f
#	ena_sw      : in  STD_LOGIC; -- fx enable slide switch
#	ena_cv      : in  STD_LOGIC; -- fx enable CV input
#	ena_cv_dv   : in  STD_LOGIC; -- fx enable CV detected
#	ena_out     : out STD_LOGIC; -- fx enable to pedal
#	-- mode i/f
#	i_pushbttn     : in  STD_LOGIC_VECTOR (5 downto 0); -- mode pushbutton detected
#	o_r2r_vout    : out STD_LOGIC_VECTOR (3 downto 0); -- r2r output bias
#	o_7seg_dat : out STD_LOGIC_VECTOR (6 downto 0);  -- mode LED pulldown
#	o_7seg_sel : out STD_LOGIC_VECTOR (3 downto 0)  -- LED digit pullup


## BEGIN BANK 1 ----------------------------------------------------------------
# clock and 7seg driver
### 1,2,3,5,6,8,12,13,14,16
### 39,40,41,42,43,44

NET "i_clk"         	             LOC = "P1"  | IOSTANDARD = LVCMOS33 | TNM_NET = i_clk;
TIMESPEC TS_clk_m = PERIOD "i_clk" 25 MHz HIGH 50% INPUT_JITTER 18 ps;

# one-hot vector to select digit 'k' of the 'n' digit display
NET "o_7seg_sel(3)"      LOC = "P40"  | IOSTANDARD = LVCMOS33; # digit 4; dev kit LED D1
NET "o_7seg_sel(2)"      LOC = "P41"  | IOSTANDARD = LVCMOS33; # digit 3
NET "o_7seg_sel(1)"      LOC = "P42"  | IOSTANDARD = LVCMOS33; # digit 2
NET "o_7seg_sel(0)"      LOC = "P43"  | IOSTANDARD = LVCMOS33; # digit 1

# data to drive for a given digit
NET "o_7seg_dat(0)"      LOC = "P44"  | IOSTANDARD = LVCMOS33; # seg A
NET "o_7seg_dat(1)"      LOC = "P2"   | IOSTANDARD = LVCMOS33; # seg B
NET "o_7seg_dat(2)" 	 LOC = "P3"	  | IOSTANDARD = LVCMOS33; # seg C
NET "o_7seg_dat(3)" 	 LOC = "P5"	  | IOSTANDARD = LVCMOS33; # seg D
NET "o_7seg_dat(4)" 	 LOC = "P6"	  | IOSTANDARD = LVCMOS33; # seg E
NET "o_7seg_dat(5)"   	 LOC = "P8"   | IOSTANDARD = LVCMOS33; # seg F 		
NET "o_7seg_dat(6)"  	 LOC = "P12"  | IOSTANDARD = LVCMOS33; # seg G


## BEGIN BANK 2 ----------------------------------------------------------------
# PB inputs and r2r output
### 18,19,20,21,22,23,27,28,29
### 30,31,32,33,34,36,37,38

NET "i_pushbttn(0)" 	LOC = "P18" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
NET "i_pushbttn(1)" 	LOC = "P19" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
NET "i_pushbttn(2)" 	LOC = "P20" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
NET "i_pushbttn(3)" 	LOC = "P21" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
NET "i_pushbttn(4)" 	LOC = "P22" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
NET "i_pushbttn(5)" 	LOC = "P23" 	| IOSTANDARD = LVCMOS33	|	PULLUP;  # input
#                       LOC = "P27"		| IOSTANDARD = LVCMOS33;
#                       LOC = "P28"		| IOSTANDARD = LVCMOS33;
#                       LOC = "P29"		| IOSTANDARD = LVCMOS33;
#                       LOC = "P30"		| IOSTANDARD = LVCMOS33;  
#                       LOC = "P31"		| IOSTANDARD = LVCMOS33;  
NET "o_r2r_vout(0)"     LOC = "P32"		| IOSTANDARD = LVCMOS33; 
NET "o_r2r_vout(1)"		LOC = "P33" 	| IOSTANDARD = LVCMOS33;
NET "o_r2r_vout(2)"		LOC = "P34" 	| IOSTANDARD = LVCMOS33;
NET "o_r2r_vout(3)"		LOC = "P36" 	| IOSTANDARD = LVCMOS33;
NET "o_r2r_vout(4)"		LOC = "P37" 	| IOSTANDARD = LVCMOS33; 
#                       LOC = "P38" # dev kit LED D2